# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The Python extension for Visual Studio Code creates this
__pycache__/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
**/android/**/generated/
**/android/gen/
**/android/out/
**/android/app/src/main/res/values/strings.xml
.gradle/
captures/
externalNativeBuild/
gradle-wrapper.jar
gradlew
gradlew.bat
local.properties

# iOS/macOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/ServiceDefinitions.json
**/*.xcworkspace

# Coverage report
coverage/

# Symbols
app.*.symbols

# Executables
app.*.apk
app.*.aab
app.*.sksl
app.*.km

# Web related
**/web/index.html

# Symbolication related
app.*.map

# For a Flutter project, you might also want to exclude these
ios/Pods/
ios/.symlinks/
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
